body
{
	 background-color:powderblue;
}

#p1
{
	font-size:300%;
}

#p2
{
	color:red;
	font-size:300%;
}

#p3
{
	color:violet;
	font-size:300%;
	font-family:courier;
}

#p4
{
	color:blue;
	font-size:300%;
	text-align:center;
}